html,
body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

.lt_container {
  width: 100%;
  height: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  padding-top: 45px;
  padding-bottom: 45px;
  overflow: hidden;

  .lt_header {
    height: 45px;
    width: 100%;
    background-color: #006699;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 45px;

    a {
      width: 45px;
      height: 45px;
      color: #fff;
      position: absolute;
      top: 0;
      line-height: 45px;
      text-align: center;
    }

    .icon-left {
      left: 0;
    }

    .icon-right {
      right: 0;
    }

    h4 {
      color: #fff;
      font-size: 20px;
      text-align: center;
      height: 45px;
      line-height: 45px;
      font-weight: normal;
      margin: 0;
    }

  }

  .lt_main {
    width: 100%;
    height: 100%;
    position: relative;

    .lt_search {
      padding: 10px;
      position: relative;

      input {
        border: 1px solid #007AFF;
        border-radius: 5px;
        font-size: 12px;
        height: 34px;
        line-height: 34px;
        margin: 0;
        padding-right: 55px;
      }

      button {
        border-radius: 0 5px 5px 0;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    .lt-product {
      padding: 10px;
      position: relative;

      li {
        float: left;
        width: 48%;
        border: 1px solid #ccc;
        margin-bottom: 10px;

        a {
          text-align: center;
          display: block;
          padding: 10px;

          .price {
            color: red
          }

          .old_price {
            text-decoration: line-through;
          }

          img {
            width: 150px;
            height: 150px;
            margin: 0 auto;
          }

          .mui-ellipsis-2 {
            height: 42px;
          }

        }
      }

      li:nth-child(2n+1) {
        margin-right: 4%;
      }

      .loading {
        width: 50px;
        height: 50px;
        border: 2px solid blue;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        animation: rotate 1s infinite ease-in-out;
      }

    }


  }


  .lt_footer {
    height: 55px;
    width: 100%;
    background-color: #006699;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 666;

    li {
      float: left;
      width: 25%;
      text-align: center;

      a {
        color: #fff;
        height: 55px;
        display: block;
        padding-top: 8px;

        p {
          color: #fff;
          margin: 0;
        }
      }

      a.current {
        color: orange;

        p {
          color: orange;
        }
      }
    }
  }
}

.pro_size {
  text-align: left;
  span {
    font-size: 12px;
    border: 1px solid #ccc;
    margin: 3px 0;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
  }

  span.current {
    background-color: orange;
    color: #ffffff;
  }
}

.pro_num {
  text-align: left;  
  span {
    font-size: 12px;
    color: #666;
  }
}

@keyframes rotate {
  from {
    transform: translateX(-50%) rotate(0deg);
  }

  to {
    transform: translateX(-50%) rotate(360deg);
  }
}