html,
body {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
.lt_container {
  width: 100%;
  height: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  padding-top: 45px;
  padding-bottom: 45px;
  overflow: hidden;
}
.lt_container .lt_header {
  height: 45px;
  width: 100%;
  background-color: #006699;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 45px;
}
.lt_container .lt_header a {
  width: 45px;
  height: 45px;
  color: #fff;
  position: absolute;
  top: 0;
  line-height: 45px;
  text-align: center;
}
.lt_container .lt_header .icon-left {
  left: 0;
}
.lt_container .lt_header .icon-right {
  right: 0;
}
.lt_container .lt_header h4 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  height: 45px;
  line-height: 45px;
  font-weight: normal;
  margin: 0;
}
.lt_container .lt_main {
  width: 100%;
  height: 100%;
  position: relative;
}
.lt_container .lt_main .lt_search {
  padding: 10px;
  position: relative;
}
.lt_container .lt_main .lt_search input {
  border: 1px solid #007AFF;
  border-radius: 5px;
  font-size: 12px;
  height: 34px;
  line-height: 34px;
  margin: 0;
  padding-right: 55px;
}
.lt_container .lt_main .lt_search button {
  border-radius: 0 5px 5px 0;
  position: absolute;
  top: 10px;
  right: 10px;
}
.lt_container .lt_main .lt-product {
  padding: 10px;
  position: relative;
}
.lt_container .lt_main .lt-product li {
  float: left;
  width: 48%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.lt_container .lt_main .lt-product li a {
  text-align: center;
  display: block;
  padding: 10px;
}
.lt_container .lt_main .lt-product li a .price {
  color: red;
}
.lt_container .lt_main .lt-product li a .old_price {
  text-decoration: line-through;
}
.lt_container .lt_main .lt-product li a img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.lt_container .lt_main .lt-product li a .mui-ellipsis-2 {
  height: 42px;
}
.lt_container .lt_main .lt-product li:nth-child(2n+1) {
  margin-right: 4%;
}
.lt_container .lt_main .lt-product .loading {
  width: 50px;
  height: 50px;
  border: 2px solid blue;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  animation: rotate 1s infinite ease-in-out;
}
.lt_container .lt_footer {
  height: 55px;
  width: 100%;
  background-color: #006699;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 666;
}
.lt_container .lt_footer li {
  float: left;
  width: 25%;
  text-align: center;
}
.lt_container .lt_footer li a {
  color: #fff;
  height: 55px;
  display: block;
  padding-top: 8px;
}
.lt_container .lt_footer li a p {
  color: #fff;
  margin: 0;
}
.lt_container .lt_footer li a.current {
  color: orange;
}
.lt_container .lt_footer li a.current p {
  color: orange;
}
.pro_size {
  text-align: left;
}
.pro_size span {
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 3px 0;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
}
.pro_size span.current {
  background-color: orange;
  color: #ffffff;
}
.pro_num {
  text-align: left;
}
.pro_num span {
  font-size: 12px;
  color: #666;
}
@keyframes rotate {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}
