.item_box {
  padding: 10px;
  border-top: 1px solid #ccc;
}
.lt_main .pro_price span:nth-child(1) {
  color: red;
}
.lt_main .pro_price span:nth-child(2) {
  font-size: 12px;
  text-decoration: line-through;
  color: #ccc;
}
.lt-footer {
  background-color: #EFEFF4;
  border-top: 1px solid red;
  padding: 10px;
  height: 55px;
}
.lt-footer a {
  padding: 5px;
}
