<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./lib/fa/css/font-awesome.min.css">
  <link rel="stylesheet" href="./lib/mui/css/mui.min.css">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/product.css">
  <title>乐淘商城</title>
</head>

<body>
  <!-- 全屏容器 -->
  <div class="lt_container">
    <!-- 头部 -->
    <div class="lt_header">
      <a href="javascript:history.back();" class="icon-left"><i class="mui-icon mui-icon-back"></i></a>
      <h4>商品详情</h4>
      <a href="javascript:location.reload();" class="icon-right"><i class="mui-icon mui-icon-reload"></i></a>
    </div>
    <!-- 主体 -->
    <div class="lt_main">
      <div class="mui-scroll-wrapper">
        <div class="mui-scroll">

        </div>
      </div>
    </div>

    <!-- 底部 -->
    <div class="lt-footer">
      <div class="mui-pull-left"><a href="cart.html">前往购物车</a></div>
      <div class="mui-pull-right">
        <button class="mui-btn mui-btn-danger" id='add_btn'>加入购物车</button>
        <button class="mui-btn mui-btn-warning">买买买</button>
      </div>
    </div>
  </div>


  <script type="text/html" id='proTpl'>
    <!-- 轮播图 -->
    <div class="mui-slider">
      <div class="mui-slider-group mui-slider-loop">
        <!--第一个内容区容器-->
        <div class="mui-slider-item mui-slider-item-duplicate">
          <a href=""><img src="{{pic[0].picAddr}}" alt=""></a>
        </div>
        {{each pic v i}}
        <div class="mui-slider-item mui-slider-item-duplicate">
          <a href=""><img src="{{v.picAddr}}" alt=""></a>
        </div>
        {{/each}}
        <div class="mui-slider-item mui-slider-item-duplicate">
          <a href=""><img src="{{pic[pic.length-1].picAddr}}" alt=""></a>
        </div>
      </div>
      <div class="mui-slider-indicator">
        {{ each pic v i }}
        <div class="mui-indicator {{ i === 0 ? 'mui-active' : '' }}"></div>
        {{ /each }}
      </div>
    </div>
    <!-- 产品标题-->
    <div class="pro_name item_box">
      <strong>产品标题</strong>
    </div>
    <!-- 产品价格 -->
    <div class="pro_price item_box">
      价格:
      <span>￥{{price}}</span>
      <span>￥{{oldPrice}}</span>
    </div>
    <!-- 产品尺码 -->
    <div class="pro_size item_box">
      尺码:
      <% 
      var arr = size.split('-');
      var start = arr[0];
      var end = arr[1];
      for(var i=start;i <= end; i++){ 
      %>
        <span>{{i}}</span>
      <% } %>
    </div>
    <!-- 产品数量 -->
    <div class="pro_num item_box">
      数量：
      <div class="mui-numbox" data-numbox-step='1' data-numbox-min='1' data-numbox-max='100'>
        <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
        <input class="mui-numbox-input" type="number" />
        <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
      </div>
      <span>
        剩余数量：{{num}}双
      </span>
    </div>
    <!-- 产品描述 -->
    <div class="pro_text item_box">
      详情：{{proDesc}}
    </div>
  </script>



  <script src="./lib/zepto/zepto.min.js"></script>
  <script src="./lib/artTemplate/template-web.js"></script>
  <script src="./lib/mui/js/mui.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/product.js"></script>
</body>

</html>